.Evaluator {
  width: 700px;
  padding: 0 1rem;
  margin: 0 auto;
}

.Heading {
  text-align: center;
}

.Title {
  color: #79cea1;
  font-size: 3rem;
  display: block;
  margin: 4rem 0;
}

.ResultSection {
  margin: 6rem 0;
}